flows.json
[{"id":"6f47eda9.0b4afc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad4883e1.7f3cc8","type":"mqtt out","z":"6f47eda9.0b4afc","name":"","topic":"/game","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3bd874d1.dcf0ec","x":750,"y":60,"wires":[]},{"id":"fdf0fd1a.a653b","type":"debug","z":"6f47eda9.0b4afc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"56c9ab39.50b704","type":"inject","z":"6f47eda9.0b4afc","name":"","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":60,"wires":[["b84cf91a.c62ca8"]]},{"id":"b31d6d81.ad19c8","type":"mqtt in","z":"6f47eda9.0b4afc","name":"","topic":"/registration","qos":"0","datatype":"auto","broker":"3bd874d1.dcf0ec","nl":false,"rap":true,"rh":0,"x":90,"y":120,"wires":[["fdf0fd1a.a653b"]]},{"id":"b84cf91a.c62ca8","type":"moment","z":"6f47eda9.0b4afc","name":"","topic":"","input":"timestamp","inputType":"msg","inTz":"US/Pacific","adjAmount":0,"adjType":"days","adjDir":"add","format":"LT","locale":"en-US","output":"","outputType":"msg","outTz":"US/Pacific","x":420,"y":60,"wires":[["fdf0fd1a.a653b","ad4883e1.7f3cc8"]]},{"id":"3bd874d1.dcf0ec","type":"mqtt-broker","name":"","broker":"mosquitto.mosquitto","port":"1883","clientid":"node-red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]
